*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(229, 252, 244);
    padding: 2em;
}

h1{
    margin: 2em 4em;
    font-size: 5.5em;
    text-align: center;
    color: bisque;
    background-color: rgba(0, 0, 255, 0.432);
    border: 3px blueviolet
}

#id {
    color: rgb(241, 50, 215);
}

.cl {
    color: rgb(231, 129, 185);
}